<div>
  <h1 class="center">Welcome the the Citibike Visualizer</h1>
  <p class="center">This tool allows you to see the average, maximum, and minimum amounts of Citibikes available at Citibike stations in New York City over the course of a 24 hour period. You have the ability to sort the graphs to show all of NYC, only Manhattan or Brooklyn, any zip code, or any specific station where a Citibike station is located.
  </p>
  <section class="buttons">
    <a class="action-button shadow animate blue" ui-sref="city" ng-click="vm.title = 'New York City'">NYC</a>
    <a class="action-button shadow animate blue" ui-sref="borough({borough: 'manhattan'})">Manhattan</a>
    <a class="action-button shadow animate blue" ui-sref="borough({borough: 'brooklyn'})">Brooklyn</a>
    <a class="action-button shadow animate blue" ng-click="vm.showModal('zip')">Zip Code</a>
    <a class="action-button shadow animate blue" ng-click="vm.showModal('station')">Station</a>
  </section>
  <modal></modal>
  <div class="modal-overlay"></div>
</div>
